  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    /* Styling h1 and links
––––––––––––––––––––––––––––––––– */
    .starrating>input {
        display: none;
    }

    /* Remove radio buttons */

    .starrating>label:before {
        content: "\f005";
        /* Star */
        margin: 2px;
        font-size: 2em;
        font-family: FontAwesome;
        display: inline-block;
    }

    .starrating>label {
        color: #222222;
        /* Start color when not clicked */
    }

    .starrating>input:checked~label {
        color: #ffca08;
    }

    /* Set yellow color when star checked */

    .starrating>input:hover~label {
        color: #ffca08;
    }
    

    .nobitex {
      
        border-radius: 15px 50px 30px 5px;
        width: 340px;
        margin-right: 9px;
        height: 115px;
    }
.page-body {
    max-width: 100%; 
    color: rgb(102, 194, 255);
    overflow: hidden;
    margin: 0 auto; 
    padding: 10px; 
}

#section-show{
    background-color: #274a85;
    box-shadow: -5px 5px #3385ff;
}

#one-section-show{
    background-color:#08285f;
}


#backgroundColor{
    background-color:#dcdcdc;
}

